<div class="animated fadeIn">
    <p class="higlighted-label" ng-bind="menuItem.vendor.title"></p>
    <div class="inner-addon right-addon search-box">
        <i class="glyphicon glyphicon-search"></i>
        <input type="text" class="search-input form-control" ng-model="searchKeyword.name" placeholder="Search Menu">
    </div>
    <ul class="menu-item-ul">
        <li class="menu-items-list" ng-repeat="oneMenuItem in menuItem.vendor.menuItems | filter: searchKeyword">
            <div class="menu-item row">
                <div class="menu-item-name col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-bind="oneMenuItem.name"></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <select ng-model="oneMenuItem.quantity" ng-change="menuItem.calculateFinalCost()" class="form-control menu-item-quantity">
                        <option value="">Quantity</option>
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                        <option value=6>6</option>
                        <option value=7>7</option>
                    </select>
                </div>
                <div class="menu-item-rate col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    Rs  <span ng-bind="(oneMenuItem.quantity == undefined) ? 0: (oneMenuItem.quantity * oneMenuItem.rate)"></span>
                </div>
            </div>            
        </li>
    </ul>
    <div class="pull-right">
        <p class="total-label">Total Value</p>
        <div class="total-money">RS  {{menuItem.vendor.totalCost}}</div>
        <button type="submit" ng-disabled="menuItem.vendor.totalCost == undefined" ng-click="menuItem.checkout(menuItem.vendor)" class="btn btn-success checkout-btn pull-right">CHECKOUT</button>
    </div> 
</div>